---
---

@import "reset";
@import "main";

@font-face {
    font-family: "PirataOne-Gloomhaven";
    src: url("{{ site.baseurl }}/assets/fonts/PirataOne-Gloomhaven.ttf") format('truetype');
}

.default_title {
	background: #808080;
}
.post_title {
	background: #00007f;
}

.monster img{
    width: 100px;
    height: 100px;
}

.gloomfont {
    font-family: "PirataOne-Gloomhaven";
}

#gloomhaven {
    font-size: 40px;
}

.map img{
    width: 100%;
}
