---
---

@import "reset";
@import "main";

@font-face {
    font-family: "PirataOne-Gloomhaven";
    src: url("{{ site.baseurl }}/assets/fonts/PirataOne-Gloomhaven.ttf") format('truetype');
}

.default_title {
	background: #808080;
}
.post_title {
	background: #00007f;
}

.monster img{
    width: 100px;
    height: 100px;
}

.gloomfont {
    font-family: "PirataOne-Gloomhaven";
}

#gloomhaven {
    font-size: 40px;
}

.map img{
    width: 100%;
}

.map_loc {
    font-size: x-small
}

.class_icon img{
    width: 35px;
    height: 35px;
}

figure {
    display: flex;
    align-items: center;
}
figcaption {
    text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #00007f;
    background: #00007f;
    font-weight: normal;
    color: #808080;
}

.ui-corner-all, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-tr, .ui-corner-tl{
    border-radius: 0 0 0 0;
}
.ui-widget-content {
    border: 1px solid #dddddd;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(221, 221, 221);
}

.card {
    display: inline-block;
    margin: .75em;
}

.unavailable {
    color: red;
    font-size: x-small;
}
.available {
    color: green;
    font-size: x-small;
}

.character {
    display: flex;
    align-items: center;
}
.character img{
    width: 150px;
}
.character h1{
    font-size: 75px;
}

.blurb img{
    width: 90%;
}
